<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Products</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"/>

    <link rel="stylesheet" href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(customers)}"></div>
    <h2>Customer List</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="${'/customer/' + customer.id}">View</a></td>
        </tr>
    </table>
    <a th:href="${'/product/new'}">New Product</a>
</div>
</body>
</html>